
.navbar-inverse {
    background-color: transparent;
    border: none;
}

.navbar{
	margin: auto;
	background-color: transparent;
}

.navbar ul {
    float:right;
    margin-right: 15px;
    margin-top: 9px;
}

.navbar li{
	display:inline-block;
	padding: 0px 0px;
	margin: 0px 0px 0px 10px;
}

#navlogo {
	margin-left: 10px;
	margin-top: -5px;
}

.nav-container, .navbar-container{
	width: 100%;
	display:flex;
	justify-content:space-between;
	padding: 15px 30px 15px 30px;
}

@media (min-width: 767px){
	.navbar-right {
	   float: right!important;
		margin-right: 0px;
	}
}

@media (max-width: 767px){
	.navbar li{
		background-color: white;
		-webkit-box-shadow: 0px 7px 24px -10px rgba(133,133,133,1);
    	-moz-box-shadow: 0px 7px 24px -10px rgba(133,133,133,1);
    	box-shadow: 0px 7px 24px -10px rgba(133,133,133,1);
	}
	.nav-container, .navbar-container{
		display: block;
		padding: 15px 5px 15px 3px;
	}
	.nav-container{
		display: flex;
	}
}

@media (max-width: 500px){
	#navlogo {
		margin-top: -5px;
	}
}

.navbar-inverse .navbar-nav>li>a {
	color: $header-color;
	font-family: $h2-font;
}

.navbar-nav>li>a {
  	padding: 8px 10px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: $header-color;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}


.navbar-inverse .navbar-nav>li>a:hover {
	color: $hover-color;
}

.navbar-inverse .navbar-toggle {
	border: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: $header-color;
	background-color: $header-color;
}

.navbar-right>li>a{
	font-family: $h2-font;
	display: inline-block;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.back {
	margin-right: 5px;
}

a {
	color: $link-color;
}